.masthead {
}

@media (min-width: 1200px) {
  ul {
  }
}


html *{
    font-family: JetBrains Mono, monospace;

}


.myheader{
  width: 200rem;
  display: flex;
  justify-content: space-around;

}
.row {
  justify-content: space-evenly;
}

.button{
  position:relative;
  display:inline-block;
  margin:20px;
}

.button a{
  color:white;
  font-family: "JetBrains Mono", monospace;
  font-weight:bold;
  font-size:36px;
  text-align: center;
  text-decoration:none;
  background-color:#FFA12B;
  display:block;
  position:relative;
  padding:20px 40px;
  
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);
  
  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button a:active{
  top:10px;
  background-color:#F78900;
  
  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
  box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
}

.button:after{
  content:"";
  height:100%;
  width:100%;
  padding:4px;
  position: absolute;
  bottom:-15px;
  left:-4px;
  z-index:-1;
  background-color:#2B1800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}



/* typing animation*/

@keyframes typing1 {
  0.0000%, 92.3488% { content: ""; }
  1.1395%, 91.2093% { content: "L"; }
  2.2791%, 90.0698% { content: "Lo"; }
  3.4186%, 89.9302% { content: "Lou"; }
  4.5581%, 88.7907% { content: "Loui"; }
  5.6977%, 87.6512% { content: "Louis"; }
  6.8372%, 86.5116% { content: "Louis "; }
  7.9767%, 85.3721% { content: "Louis N"; }
  9.1163%, 84.2326% { content: "Louis Ng"; }
  10.2558%, 83.0930% { content: "Louis Ngu"; }
  11.7674%, 82.2791% { content: "Louis Nguy"; }
  12.9070%, 81.1395% { content: "Louis Nguye"; }
  13.0465%, 80.0000% { content: "Louis Nguyen"; }
  14.1860%, 79.8605% { content: "Louis Nguyen "; }
  15.3256%, 78.7209% { content: "Louis Nguyen M"; }
  16.4651%, 77.5814% { content: "Louis Nguyen Mi"; }
  17.6047%, 76.4419% { content: "Louis Nguyen Min"; }
  18.6977%, 75.2093% { content: "Louis Nguyen Minh"; }
  19.8372%, 74.0698% { content: "Louis Nguyen Minh "; }
  20.9767%, 73.9302% { content: "Louis Nguyen Minh T"; }
  21.1163%, 72.7907% { content: "Louis Nguyen Minh Ta"; }
  22.2558%, 71.6512% { content: "Louis Nguyen Minh Tan"; }
  50%, 70% { content: "Louis Nguyen Minh Tan"; }


}
@keyframes typing2 {
  0.0000%, 27.3488% { content: ""; }
  1.1395%, 26.2093% { content: "d"; }
  2.2791%, 25.0698% { content: "de"; }
  3.4186%, 23.9302% { content: "dev"; }
  4.5581%, 22.7907% { content: "deve"; }
  5.6977%, 21.6512% { content: "devel"; }
  6.8372%, 20.5116% { content: "develo"; }
  7.9767%, 19.3721% { content: "develop"; }
  9.1163%, 18.2326% { content: "develope"; }
  10.2558%, 17.0930% { content: "developer"; }

  30.7674%, 51.2791% { content: ""; }
  31.9070%, 50.1395% { content: "w"; }
  33.0465%, 49.0000% { content: "wr"; }
  34.1860%, 47.8605% { content: "wri"; }
  35.3256%, 46.7209% { content: "writ"; }
  36.4651%, 45.5814% { content: "write"; }
  37.6047%, 44.4419% { content: "writer"; }

  54.6977%, 75.2093% { content: ""; }
  55.8372%, 74.0698% { content: "r"; }
  56.9767%, 72.9302% { content: "re"; }
  58.1163%, 71.7907% { content: "rea"; }
  59.2558%, 70.6512% { content: "read"; }
  60.3953%, 69.5116% { content: "reade"; }
  61.5349%, 68.3721% { content: "reader"; }

  78.6279%, 96.8605% { content: ""; }
  79.7674%, 95.7209% { content: "h"; }
  80.9070%, 94.5814% { content: "hu"; }
  82.0465%, 93.4419% { content: "hum"; }
  83.1860%, 92.3023% { content: "huma"; }
  84.3256%, 91.1628% { content: "human"; }
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.typewriter1 {
  font-family: "JetBrains Mono", monospace;
  --caret: #167C55;
}

.typewriter1::before {
  content: "";

  animation: typing1 13.5s infinite;
}

.typewriter1::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}

.typewriter1.thick::after {
  border-right: 1ch solid var(--caret);
}

.typewriter1.nocaret::after {
  border-right: 0;
}

 /*
@media (prefers-reduced-motion) {
  .typewriter1::after {
    animation: none;
  }
  
  @keyframes sequencePopup {
    0%, 100% { content: "Louis Nguyen Minh Tan"; }
    25% { content: "Louis Nguyen Minh Tan"; }
    50% { content: "Louis Nguyen Minh Tan"; }
    75% { content: "Louis Nguyen Minh Tan"; }
  }

  .typewriter1::before {
    content: "Louis Nguyen Minh Tan";
   animation: sequencePopup 12s linear infinite;
  }
}
*/


.mygrid{
  display: grid;
  grid-template-columns:  20% 20% 20% 20% 20% 20%;
  grid-template-rows: 16% 16% 16% 18% 18% 16%;
  margin-left: 2em;
  margin-right:2em;
}
html {
  overflow-x: hidden;

}
html, body {  scroll-behavior: smooth;width: auto!important; overflow-x: hidden!important;} 

@keyframes tilt-n-move-shaking {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(5px, 5px) rotate(5deg); }
  50% { transform: translate(0, 0) rotate(0eg); }
  75% { transform: translate(-5px, 5px) rotate(-5deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}

.shaking {
  animation: tilt-n-move-shaking 1s infinite;
}


.grow {   transition: all 0.3s ease-in-out;}
.grow:hover { transform: scale(1.1); }

.body{
  opacity: 0;
  transition: opacity .5s;
}
